{% extends 'base.html' %}
{% block title %}Spiritual Life Camp{% endblock %}
{% block content %}

<div class="container">

<h1>Contact</h1>
<hr class="featurette-divider">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success container" style="height: 55px;" role="alert">
        <p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
    </div>
    {% endfor %}
</ul>
{% endif %}


<div class="container" id="#">
<form action = "" method = "post">
	{% csrf_token %}
	{{form.as_p }}
	<input  class="btn btn-primary" type="submit" value=Submit>
</form>

</div>
{% endblock content %}
