{% load static %}
{% block content %}

<style>
  #login-register-navbar{
    text-decoration: none;
    color: #000;
    
  }
  #navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">(FAITH LOGO)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Spiritual Life Camp</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'spiritualcamp' %}">About Spiritual Life Camp</a></li>
            <li><a class="dropdown-item" href="{% url 'spiritual-camp-register' %}">Spiritual Life Camp Registration</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Spiritual Plays</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'spiritualplays' %}">About Spiritual Plays</a></li>
            <li><a class="dropdown-item" href="#">Book seats</a></li>
          </ul>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}">About</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
        <a href="{% url 'register' %}" id="login-register-navbar">Login/Register</a>
    </div>
  </div>
</nav>

{% endblock content %}